doctype html
HTML(lang="en")
  HEAD
    TITLE Invalid Request
    link(rel="stylesheet" type="text/css" href=APP_URL + "LatoLatin/latolatinfonts.css")
    LINK(rel="stylesheet" type="text/css" href=APP_URL + "styles.css")
  BODY
    H1 Invalid Request
    P The application received a request for an unauthorized resource.
    if requestHeaders.referer
      P Referer: #{requestHeaders.referer}
