extends candidateLayout.pug
block append head
  LINK(rel="stylesheet" type="text/css" href=APP_URL + "datepickr/datepickr.min.css")
block content
  H2 Edit CE Hours
  FORM(id='layoutForm' action='./submitEdit' method='POST')
    include HoursFormFields